<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="css/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
            <div class="board_list_wrap">
                <div class="board_list">
                    <div class="top">
                        <div class="num">번호</div>
                        <div class="title">제목</div>
                        <div class="writer">글쓴이</div>
                        <div class="date">작성일</div>
                        <div class="count">조회</div>
                    </div>
                    <div th:each="notice : ${notices}">
                        <div class="num" th:text="${notice.id}">4</div>
                        <a class="title" th:text="${notice.title}" th:href="@{'/view' + ${notice.id}}">글 제목이 들어갑니다.</a>
                        <div class="writer" th:text="${notice.name}">김이름</div>
                        <div class="date" th:text="${notice.day}">2021.1.15</div>
                        <div class="count" th:text="${notice.count}">33</div>
                    </div>
                </div>

                <div class="board_page">
                    <a href="" class="bt first"><<</a>
                    <a href="" class="bt prev"><</a>
                    <form style="display:inline-block;" th:each="noticeNum : ${noticesNum}" th:action="@{'/list=' + ${noticeNum}}" method="get">
                        <a style="background-color:black;color: white;" th:href="@{'/list=' + ${noticeNum}}" th:text="${noticeNum}" class="num on">1</a>
                    </form>
                    <a href="" class="bt next">></a>
                    <a href="" class="bt last">>></a>
                </div>

                <div class="bt_wrap">
                    <a href="/write" class="on">등록</a>
                    <!--<a href="#">수정</a>-->
                </div>
            </div>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    
    let listId = Number($(location).attr('href').split('list=')[1])-1
    $($('.board_page>form>a').get(listId)).css({backgroundColor:'white',color:'black'})
    let listurl = $(location).attr('href').split('list=')[0]+'list='
    
    listId++
    if(listId<$('.board_page>form>a').length){
        $(".board_page>.next").attr('href',listurl+(listId+1))
        $(".board_page>.last").attr('href',listurl+($(".board_page>form>a").length))
    }
    if(listId>1){
        $(".board_page>.prev").attr('href',listurl+(listId-1))
        $(".board_page>.first").attr('href',listurl+1)
    }

    // let listId = Number(document.location.href.split("list=")[1])-1
    // console.log(document.querySelectorAll(".board_page>form>a"))
    // document.querySelectorAll(".board_page>form>a").item(listId).style.backgroundColor = 'white'
    // document.querySelectorAll(".board_page>form>a").item(listId).style.color = 'black'
    // let listurl = document.location.href.split("list=")[0]+"list="

    // listId++
    // if(listId<document.querySelectorAll('.board_page>form>a').length){
    //     console.log(listId)
    //     document.querySelector(".board_page>.next").href=listurl+(listId+1)
    //     document.querySelector(".board_page>.last").href=listurl+(document.querySelectorAll(".board_page>form>a").length)
    // }
    // if(listId>1){
    //     document.querySelector(".board_page>.prev").href=listurl+(listId-1)
    //     document.querySelector(".board_page>.first").href=listurl+1
    // }





</script>

